:root{
    --grid-rows:1;
    --grid-cols:1;
}

h1{
    display: flex;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
}


body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0;
    padding:0;
}

#container{
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: 400px;
    width: 400px;
    padding-top: 0;
    margin-top: 75px;
    justify-content: center;
    align-content: center;
    border: 1px solid lightsalmon;
}

.grid-cell{
    display: flex;
    padding-top: 1fr;
    padding-bottom: 1fr;
    padding-right: 1fr;
    padding-left: 1fr;
    margin: 0;
    text-align: center;
    justify-content: center;
    user-select: none;
    border: 1px solid lightsalmon;
}
